<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <img src="assets/images/evan.png" class="profile-pic img-circle">
                <p></p><br><br>
                <p>My name is Evan, and I am a full-stack software engineer. Everyday I get the pleasure of creating something out of nothing.
                     Ever since high school, coding has been a true passion of mine. I dream of influencing the way people use technology in their
                     everyday lives. I am motivated by challenging work and excited to learn new skills.</p>
                <p>When not at a computer screen I enjoy running, mountain biking, skateboarding, hiking, and hanging out with friends.
                     My wife and I currently live in Ann Arbor, MI where we live, work, and play.</p>
                <p>Thanks for visting my website!</p>
            </div>
        </div>
    </div>
</section>