<!-- Generates all the portfolio modals -->
{% for portfolio_item in site.portfolio %}
<div class="portfolio-modal modal fade" id="{{portfolio_item.modal_id}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{portfolio_item.project_name}}</h2>
                        <hr class="star-primary">
                        <img src="{{portfolio_item.image_path}}" class="img-responsive img-centered portfolio-image-lg" alt="">

                            {% if portfolio_item.demo_link %}
                                <a href="{{portfolio_item.demo_link}}" class="btn btn-lg btn-primary portfolio-action-button">
                                    <i class="fa fa-{{portfolio_item.demo_icon}}"></i>
                                    <span class="portfolio-action-label">{{portfolio_item.demo_label}}</span>
                                </a>
                            {% endif %}
                            
                            {% if portfolio_item.github_link %}
                                <a href="{{portfolio_item.github_link}}" class="btn btn-lg btn-primary portfolio-action-button">
                                    <i class="fa fa-github"></i>
                                    <span class="portfolio-action-label">View on Github</span>
                                </a>
                            {% endif %}

                            <p class="portfolio-long-description">{{portfolio_item.long_description}}</p>
                        <button type="button" class="btn btn-lg" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}