<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

<body id="page-top" class="index">

    {% include navbar.html %}
    {% include header.html %}

    {% include about.html %}
    {% include portfolio.html %}
    {% include skills.html %}
    {% include blog.html %}
    {% include footer.html %}

    <!-- Generates all the portfolio modals for when the user clicks on them -->
    {% include modals.html %}
    

    <!-- jQuery -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="assets/javascript/jqBootstrapValidation.js"></script>
    <script src="assets/javascript/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="assets/javascript/freelancer.js"></script>

</body>

</html>
